usr/lib
usr/include
usr/share/doc/kconfig-frontends-nox
usr/share/man
usr/bin/kconfig
usr/bin/kconfig-conf
usr/bin/kconfig-diff
usr/bin/kconfig-gettext
usr/bin/kconfig-mconf
usr/bin/kconfig-merge
usr/bin/kconfig-nconf
usr/bin/kconfig-tweak
